---
import Component from "../components/Component.astro";
import Experience from "../components/experience/index.astro";
import Spotlight from "../components/spotlight/index.astro";
import { EXPERIENCE } from "../data/experience";
import { SOCIALS } from "../data/socials";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home | Soham Dasgupta">
  <div class="relative hero z-10">
    <div
      class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div class="lg:flex lg:justify-between lg:gap-4">
        <header
          class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
        >
          <div
            class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left"
          >
            <img
              src="/avatar.webp"
              alt="Soham Dasgupta"
              class="w-16 h-16 rounded-full"
            />
            <div>
              <a
                href="/"
                class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50 pb-1"
              >
                <h1>Soham Dasgupta</h1>
              </a>
              <h2 class="text-sm lg:text-lg font-medium text-neutral-400">
                Technology Leader & Enterprise Architect
              </h2>
              <div
                class="flex flex-row justify-center lg:justify-start gap-x-2 w-full mt-4"
              >
                <Spotlight
                  rel="noreferrer noopener"
                  target="_self"
                  ariaLabel="Email"
                  href="mailto:soham@thesobercoder.in">Email</Spotlight
                >
                <Spotlight
                  rel="noreferrer noopener"
                  target="_blank"
                  ariaLabel="Resume"
                  href="/resume.pdf">Resume</Spotlight
                >
              </div>
              {
                SOCIALS.length && (
                  <ul
                    class="flex items-center justify-between lg:justify-start gap-x-7 mt-6 w-full"
                    aria-label="Social media"
                  >
                    {SOCIALS.map((social) => (
                      <li class="text-xs p-2 rounded" data-ccursor>
                        <a
                          class="block hover:text-slate-200"
                          href={social.url}
                          target={social.target}
                          rel={social.rel}
                          aria-label={`${social.name} (opens in a new tab)`}
                        >
                          <span class="sr-only">{social.name}</span>
                          {<Component component={social.icon} />}
                        </a>
                      </li>
                    ))}
                  </ul>
                )
              }
            </div>
          </div>
        </header>
        <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
          <section
            id="about"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="About me"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
              >
                About
              </h2>
            </div>
            <div>
              <div class="mb-4 space-y-4 text-lg">
                <p>
                  I’m a technology leader with 15 years of experience in
                  software engineering and enterprise architecture. I am
                  passionate about collaboration and mentorship, guiding teams
                  to deliver innovative solutions. I thrive on driving growth
                  and efficiency in technology initiatives and am committed to
                  fostering a culture of creativity and problem-solving within
                  my teams.
                </p>
                <p>
                  Looking forward to new challenges and exciting opportunities!
                </p>
              </div>
            </div>
          </section>
          <section
            id="experience"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Work experience"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
              >
                Experience
              </h2>
            </div><div>
              <ol class="group/list space-y-12">
                {EXPERIENCE.map((experience) => <Experience {...experience} />)}
              </ol>
            </div>
          </section>
        </main>
      </div>
    </div>
  </div>
  <footer class="flex flex-col items-center w-full pb-4 text-xs">
    <span> {new Date().getFullYear()} All rights reserved.</span>
  </footer>
</Layout>
